.navbar {
  top: 0;
  right: 0;
  left: 0;
  transition: ease-in-out 0.3s;
  padding-top: var(--size-30);
  height: var(--size-100);
  background-color: transparent;
  z-index: 800;
}

.navbar.sticky {
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar .container div {
  width: var(--size-150);
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar .navbar-toggler span {
  color: var(--font-brand);
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--white);
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: var(--size-12);
  margin-right: 50px;
}

.navbar-nav .button-main {
  margin-left: var(--size-30);
}

.navbar .container {
  display: flex;
  align-items: center;
}

.nav-link a {
  color: var(--font-light);
  font-size: 0.8125rem;
  text-transform: uppercase;
  margin-right: var(--size-20);
  line-height: 1.25rem;
  font-weight: 500;
  font-size: var(--size-14);
}

.topbg {
  background-image: linear-gradient(
      356deg,
      #ffffff 21%,
      rgba(254, 254, 254, 0.75) 21%,
      rgba(253, 252, 253, 0.5) 21%,
      rgba(248, 250, 252, 0) 21%
    ),
    linear-gradient(
      127deg,
      rgba(250, 250, 250, 0.93) 69%,
      rgba(252, 252, 252, 0.95) 38%,
      #ffffff 0%,
      rgba(251, 251, 251, 0.97) 19%,
      rgba(242, 242, 242, 0.91) 57%
    );
}

.opening-wrapper {
  margin-top: var(--size-50);
  font-weight: 500;
  font-size: var(--size-14);
  padding-bottom: var(--size-10);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: auto;
  gap: var(--size-50);
}

.opening-wrapper h2 {
  font-size: var(--size-40);
  line-height: var(--size-50);
  margin-bottom: 0;
  font-weight: 500;
}

.opening-wrapper p {
  margin-bottom: var(--size-30);
}

.empowering-wrapper {
  flex: none;
  flex-grow: 1;
  align-self: stretch;
}

.empowering-wrapper p {
  text-align: left;
}

.learn-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: var(--size-14);
  gap: var(--size-16);
}

.learn-more-wrapper span {
  color: var(--font-brand);
  font-weight: 700;
  cursor: pointer;
}

.company-logos-wrapper {
  align-self: flex-start;
  order: 1;
  flex-grow: 1;
  margin-right: 50px;
  margin-left: 50px;
}

.company-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo-icons {
  padding: 15px;
  background: var(--white);
  box-shadow: 0px 3px 20px rgb(0 0 0 / 15%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  justify-self: center;
}

.fadeInGoogle {
  animation-name: fadeInBottom;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

.fadeInAtlassian {
  animation-name: fadeInBottom;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.fadeInAsana {
  animation-name: fadeInBottom;
  animation-duration: 0.9s;
  animation-fill-mode: both;
}

.fadeInPaypal {
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInWeave {
  animation-name: fadeInBottom;
  animation-duration: 1.1s;
  animation-fill-mode: both;
}

.fadeInGoogleA {
  animation-name: fadeInBottom;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

.fadeInGoogleCalendar {
  animation-name: fadeInBottom;
  animation-duration: 1.3s;
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

.fadeInAtlassian {
  animation-name: fadeInBottom;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

.logo-icons-smaller {
  width: 60px;
  height: 60px;
}

.google-logo {
  grid-area: 1 / 1 / 2 / 2;
}

.atlassian {
  grid-area: 1 / 3 / 3 / 4;
  justify-self: left;
  margin-top: 20px;
}

.asana {
  grid-area: 1 / 5 / 2 / 6;
}

.paypal {
  grid-area: 3 / 1 / 4 / 2;
  justify-self: left;
}

.weave {
  grid-area: 3 / 4 / 4 / 5;
  justify-self: left;
}

.googleA {
  grid-area: 4 / 2 / 6 / 3;
  justify-self: left;
  margin-top: 30px;
}

.google-calendar {
  grid-area: 5 / 5 / 6 / 6;
}

.key-benefits {
  margin-top: 150px;
}

.key-benefits h3,
p {
  text-align: center;
}

.key-benefits h3,
h4 {
  font-size: var(--size-30);
  font-weight: 700;
}

.key-benefits p {
  font-size: var(--size-16);
  font-weight: 500;
  color: var(--font-light);
  margin-bottom: 70px;
}

.benefits-card-wrapper {
  line-height: var(--size-20);
  font-size: var(--size-14);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: var(--size-30);
  width: 100%;
}

.benefits-card-wrapper a {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}

.benefits-card-wrapper a:hover {
  top: -10px;
}

.benefits-card-wrapper div {
  border: 1px solid #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  padding: var(--size-20);
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 25px;
  height: 100%;
}

.benefits-card-wrapper img {
  width: var(--size-50);
  height: var(--size-50);
}

.benefits-card-wrapper a {
  color: var(--font-light);
}

.benefits-card-wrapper div h4 {
  font-size: var(--size-16);
  color: var(--font-dark);
  margin: 10px 0px;
}

.benefits-card-wrapper span {
  margin-bottom: 10px;
  margin-right: 18px;
  color: var(--font-dark);
  font-size: 14px;
}

.benefits-card-wrapper .benefits-learn-more {
  color: var(--font-link);
  font-weight: 700;
  margin-top: auto;
}

.benefits-card-wrapper .benefits-learn-more i {
  font-size: var(--size-12);
}

.key-benefits .highlight-card-wrapper,
.highlight-card-wrapper div {
  gap: var(--size-12);
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  height: auto;
}

.highlight-card-wrapper .feature-button {
  background-color: #01c9a7;
  border-radius: var(--size-16);
  padding: 5px 12px;
  font-weight: 500;
  text-align: center;
  height: auto;
}

.highlight-card-wrapper .feature-button span {
  margin: 0;
  line-height: normal;
  color: white;
}

.software-for-people {
  margin-top: var(--size-100);
}

.people-wrapper {
  background-color: var(--bgcolor-light);
  display: flex;
  padding-top: 100px;
  justify-content: center;
  gap: 35px;
}

.front-makes {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.front-makes div:nth-child(1) {
  margin-left: 60px;
}

.front-makes h2 {
  font-weight: 700;
  font-size: 30px;
}

.front-makes i {
  font-size: var(--size-10);
  padding-left: 5px;
}

.front-makes-right {
  flex: 1 1;
  box-shadow: -4px -3px 14px rgb(0 0 0 / 7%);
}

.why-front {
  margin-top: 80px;
}

.why-front-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.why-front-text {
  text-align: center;
}

.why-front-text h4 {
  margin-bottom: 0px;
}

.why-front-text p {
  font-size: var(--size-16);
  line-height: var(--size-30);
  font-weight: 500;
  color: var(--font-light);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.why-front-bullets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.bullet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-30) 0px;
  gap: var(--size-20);
}

.bullet-section span {
  font-weight: 500;
  font-size: var(--size-16);
  line-height: var(--size-20);
  text-align: center;
}

.bullet-section-graphics {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.line {
  width: var(--size-100);
  height: 2px;
  background-color: #e6e9f2;
}

.hidden-line {
  background-color: transparent;
}

.bullet-circle-outter {
  width: var(--size-50);
  height: var(--size-50);
  padding: var(--size-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf2ff;
  border-radius: 25px;
}

.bullet-circle-inner {
  width: 6px;
  height: 6px;
  background-color: #0066ff;
  border-radius: 3px;
}

.video-banner {
  margin-top: 80px;
}

.banner-wrapper {
  height: 400px;
  background-image: url(/assets/banners/banner_two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 56%;
}

.play-button {
  padding: 10px 0px 10px 4px;
  width: 80px;
  height: 80px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--size-20);
  font-weight: 900;
  cursor: pointer;
}

.template {
  margin-top: 80px;
}

.template-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
  justify-content: center;
}

.executive-container {
  position: relative;
  width: 452px;
}

.layer-background {
  max-width: 200px;
  left: 28px;
  top: 111px;
  position: relative;
}

.layer-picture {
  position: absolute;
  top: 0;
  left: 81px;
  width: 371px;
  height: 425px;
  z-index: 100;
}

.hubspot-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-30);
  width: 512px;
  margin-left: 50px;
  margin-top: 70px;
}

.hubspot-text img {
  width: var(--size-100);
  height: var(--size-30);
}

.hubspot-text p {
  font-weight: 500;
  font-size: var(--size-20);
  line-height: var(--size-30);
  text-align: left;
}

.hubspot-text h5 {
  font-weight: 700;
  font-size: var(--size-18);
  margin-bottom: 0;
}

.hubspot-text span {
  font-weight: 700;
  color: var(--font-light);
  font-size: var(--size-14);
}

.brands-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.brands-list-wrapper h5 {
  font-weight: 700;
  font-size: var(--size-16);
  color: #5f6368;
}

.brands-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--size-100);
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.brands-icons img {
  height: 40px;
}

.pricing-section {
  margin-top: 35px;
}

.pricing-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 150px;
}

.pricing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pricing-title h3 {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0px;
}

.pricing-title span {
  font-weight: 500;
  font-size: var(--size-16);
  text-align: center;
  color: var(--font-light);
}

.feature-components-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0px 44px;
  gap: 30px;
}

.plan-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 50px;
  width: 370px;
  border: 1px solid var(--white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.plan-start {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.plan-head {
  display: flex;
  flex-direction: column;
}

.plan-pricing {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 7px;
}

.plan-pricing span {
  font-weight: 500;
  font-size: var(--size-50);
}

.price-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  padding: 0px 0px 14px;
}

.price-container span {
  font-size: var(--size-20);
  color: var(--font-light);
  font-weight: 500;
}

.plan-break {
  background-color: #8d8d8d;
  height: 1px;
  padding: 1px;
}

.plan-head-text {
  font-weight: 500;
  font-size: 16px;
  color: var(--font-light);
}

.plan-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.plan-foot span {
  font-size: var(--size-12);
  color: var(--font-light);
}

.plan-assets {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
}

.plan-assets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  border: 1px solid white;
}

.asset-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.asset-card img {
  width: var(--size-50);
  height: var(--size-50);
}

.asset-card h3 {
  font-weight: 700;
  font-size: var(--size-18);
}

.asset-card span {
  font-weight: 500;
  font-size: var(--size-14);
  line-height: 22px;
  color: var(--font-light);
}

.asset-card .highlight-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.asset-card .highlight-card-wrapper span {
  color: white;
  font-weight: 700;
  font-size: var(--size-12);
}

.hire-us-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 120px;
  padding: 0px;
  background-color: #20335b;
}

.hire-us-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 0px 70px;
  gap: 60px;
}

.hire-us-left-top {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 30px;
}

.hire-us-left-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
}

.hire-us-left-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 200px; */
}

.hire-us-left-title h3 {
  font-weight: 700;
  font-size: var(--size-30);
  color: white;
  margin: 0;
}

.hire-us-left-title span {
  font-weight: 500;
  font-size: var(--size-16);
  color: var(--font-light);
}

.hire-us-left-break {
  height: 1px;
  background-color: var(--font-light);
  width: 200px;
}

.hire-us-left-testimonial {
  width: 360px;
}

.hire-us-left-testimonial span {
  font-weight: 500;
  font-style: italic;
  font-size: var(--size-16);
  color: white;
}

.hire-us-left-bottom {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hire-us-left-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 0px 0px;
  gap: 4px;
}

.hire-us-left-tag h3 {
  font-weight: 700;
  font-size: var(--size-18);
  color: white;
  margin: 0;
}

.hire-us-left-tag span {
  font-weight: 500;
  font-size: var(--size-14);
  color: var(--font-light);
}

.hire-us-left-collage {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.hire-us-left-collage img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  opacity: 75%;
}

.hire-us-left-collage .bigger-pic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  opacity: 100%;
}

.hire-us-right {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 50%;
}

.hire-us-right form {
  background: var(--white);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hire-us-right h4 {
  font-size: var(--size-20);
  font-weight: 700;
  margin: 0;
}

.form-two-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.formBox {
  padding: 10px;
  gap: 10px;
  border: 1px solid #e6e8f2;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.formBox input {
  width: 100%;
  line-height: 23px;
}

[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.formBox input,
textarea {
  border: 1px solid transparent;
}

.formBox input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.formBox i {
  color: var(--font-light);
  font-size: var(--size-12);
}

.formBox textarea {
  width: 100%;
  height: 150px;
  font-family: "Inter", sans-serif;
}

.hire-us-right input[type="checkbox"] {
  cursor: pointer;
}

.hire-us-right input[type="submit"] {
  width: 100%;
  background-color: var(--font-link);
  font-size: var(--size-14);
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  padding: 1.2rem 1.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form-link {
  text-decoration: underline dotted;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px 30px 40px;
  gap: 40px;
}

.footer-resources {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-between;
  max-width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 15px;
}

.contact-info img {
  width: var(--size-100);
  height: var(--size-30);
  margin-bottom: 10px;
}

.contact-info div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: var(--font-light);
}

.contact-info a {
  color: var(--font-link);
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: var(--size-50);
}

.footer-links div {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 20px;
  color: var(--font-light);
  font-size: var(--size-14);
}

.footer-links h3 {
  font-size: var(--size-18);
  font-weight: 800;
  margin: 0;
  color: black;
}

.footer-links a {
  color: var(--font-light);
}

.footer-links a:hover {
  color: var(--font-link);
}

.footer-links i {
  margin-right: 10px;
}

.footer-links ul li {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-links .hiring-badge {
  padding: 2px 4px;
  background-color: var(--font-link);
  border-radius: 3px;
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-40);
}

.map-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.site-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--font-light);
}

.site-map a {
  color: var(--font-light);
}

.site-map a:hover {
  color: var(--font-link);
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: auto;
}

.social-links div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ecf2ff;
  border-radius: 5px;
}

.social-links div i {
  color: var(--font-light);
}

.social-links .fake-country-selector {
  width: 168px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-links .fake-country-selector img {
  width: 14px;
  height: 14px;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--font-light);
  font-size: var(--size-14);
  text-align: center;
  max-width: 700px;
}
