.topbg {
  background: linear-gradient(174deg, rgba(0, 0, 0, 0) 83%, white calc(83% + 2px)) no-repeat border-box,
    linear-gradient(
        286.73deg,
        rgba(225, 231, 239, 0.5) 28.4%,
        rgba(217, 217, 217, 0.19) 17.61%,
        rgba(217, 217, 217, 0) 100%
      )
      no-repeat border-box;
}

.navbar {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  padding-top: var(--size-30);
  height: var(--size-100);
}

.navbar .container div {
  width: var(--size-150);
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar .navbar-toggler span {
  color: var(--font-brand);
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--white);
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: var(--size-12);
}

.navbar-nav .button-main {
  margin-left: var(--size-30);
}

.navbar .container {
  display: flex;
  align-items: center;
}

.nav-link a {
  color: var(--font-light);
  font-size: 0.8125rem;
  text-transform: uppercase;
  margin-right: var(--size-20);
  line-height: 1.25rem;
  font-weight: 500;
  font-size: var(--size-14);
}

.opening-wrapper {
  margin-top: var(--size-100);
  font-weight: 500;
  font-size: var(--size-14);
  padding-bottom: var(--size-10);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: auto;
  gap: var(--size-40);
}

.opening-wrapper h2 {
  font-size: var(--size-40);
  line-height: var(--size-50);
  margin-bottom: 0;
  font-weight: 500;
}

.opening-wrapper p {
  margin-bottom: var(--size-30);
}

.empowering-wrapper {
  flex: none;
  order: 0;
  flex-grow: 1;
  align-self: stretch;
}

.learn-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: var(--size-14);
  gap: var(--size-16);
}

.learn-more-wrapper span {
  color: var(--font-brand);
  font-weight: 700;
}

.company-logos-wrapper {
  align-self: flex-start;
  order: 1;
  flex-grow: 1;
}

.company-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo-icons {
  padding: 15px;
  background: var(--white);
  box-shadow: 0px 3px 20px rgb(0 0 0 / 15%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  justify-self: center;
}

.logo-icons-smaller {
  width: 60px;
  height: 60px;
}

.google-logo {
  grid-area: 1 / 1 / 2 / 2;
}

.atlassian {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: right;
}

.asana {
  grid-area: 1 / 5 / 2 / 6;
}

.paypal {
  grid-area: 3 / 1 / 4 / 2;
  justify-self: left;
}

.weave {
  grid-area: 3 / 4 / 4 / 5;
}

.googleA {
  grid-area: 5 / 2 / 6 / 3;
  justify-self: left;
}

.google-calendar {
  grid-area: 5 / 5 / 6 / 6;
}

.key-benefits h3,
p {
  text-align: center;
}

.key-benefits h3,
h4 {
  font-size: var(--size-30);
  font-weight: 700;
}

.key-benefits p {
  font-size: var(--size-16);
  font-weight: 500;
  color: var(--font-light);
}

.benefits-card-wrapper {
  line-height: var(--size-20);
  font-size: var(--size-14);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: var(--size-30);
  width: 100%;
}

.benefits-card-wrapper div {
  border: 1px solid #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  padding: var(--size-20);
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
}

.benefits-card-wrapper img {
  width: var(--size-50);
  height: var(--size-50);
}

.benefits-card-wrapper h4 {
  font-size: var(--size-16);
}

.benefits-card-wrapper a {
  color: var(--font-link);
  font-weight: 700;
}

.key-benefits .highlight-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.key-benefits .highlight-card-wrapper,
.highlight-card-wrapper div {
  gap: var(--size-12);
  border: none;
  box-shadow: none;
}

.highlight-card-wrapper .feature-button {
  background-color: #01c9a7;
  border-radius: var(--size-16);
  padding: 0.188rem 0.938rem;
  font-size: var(--size-12);
  color: white;
  font-weight: 500;
  text-align: center;
}

.software-for-people {
  margin-top: var(--size-100);
}

.people-wrapper {
  background-color: var(--bgcolor-light);
  max-width: auto;
  display: flex;
  gap: var(--size-10);
  padding-top: 100px;
  justify-content: center;
}

.people-wrapper > div:nth-child(1) {
  margin-left: var(--size-30);
}

.why-front-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.why-front {
  margin-top: 80px;
}

.why-front-text {
  text-align: center;
}

.why-front-text h4 {
  margin-bottom: 0px;
}

.why-front-text p {
  font-size: var(--size-16);
  line-height: var(--size-30);
  font-weight: 500;
  color: var(--font-light);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.why-front-bullets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px var(--size-30);
}

.bullet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-30) 0px;
  gap: var(--size-20);
}

.bullet-section span {
  font-weight: 500;
  font-size: var(--size-16);
  line-height: var(--size-20);
  text-align: center;
}

.bullet-section-graphics {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.line {
  width: var(--size-100);
  height: 2px;
  background-color: #e6e9f2;
}

.hidden-line {
  background-color: transparent;
}

.bullet-circle-outter {
  width: var(--size-50);
  height: var(--size-50);
  padding: var(--size-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf2ff;
  border-radius: 25px;
}

.bullet-circle-inner {
  width: 6px;
  height: 6px;
  background-color: #0066ff;
  border-radius: 3px;
}

.video-banner {
  margin-top: 80px;
}

.banner-wrapper {
  height: 400px;
  background-image: url(/assets/banners/banner_two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  padding: 10px 0px 10px 4px;
  width: 80px;
  height: 80px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--size-20);
  font-weight: 900;
}

.template {
  margin-top: 80px;
}

.template-wrapper {
  display: flex;
  flex-direction: row;
  height: 550px;
  flex-wrap: wrap;
}

.executive-container {
  position: relative;
  width: 452px;
}

.layer-background {
  max-width: 200px;
  left: 28px;
  top: 111px;
  position: relative;
}

.layer-picture {
  position: absolute;
  top: 0;
  left: 81px;
  width: 371px;
  height: 425px;
  z-index: 100;
}

.hubspot-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-30);
  width: 512px;
  margin-left: 50px;
  margin-top: 70px;
}

.hubspot-text img {
  width: var(--size-100);
  height: var(--size-30);
}

.hubspot-text p {
  font-weight: 500;
  font-size: var(--size-20);
  line-height: var(--size-30);
  text-align: left;
}

.hubspot-text h5 {
  font-weight: 700;
  font-size: var(--size-18);
  margin-bottom: 0;
}

.hubspot-text span {
  font-weight: 700;
  color: var(--font-light);
  font-size: var(--size-14);
}

.brands-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 210px;
}

.brands-list-wrapper h5 {
  font-weight: 700;
  font-size: 20px;
  color: #5f6368;
}

.brands-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--size-100);
  padding: 0px 30px;
}

.brands-icons img {
  height: 40px;
}

.pricing-section {
  margin-top: 35px;
}

.pricing-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 1030px;
}

.pricing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pricing-title h3 {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0px;
}

.pricing-title span {
  font-weight: 500;
  font-size: var(--size-16);
  text-align: center;
  color: var(--font-light);
}

.plan-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 50px;
  width: 370px;
  border: 1px solid var(--white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.plan-start {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.plan-head {
  display: flex;
  flex-direction: column;
}

.plan-pricing {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 7px;
}

.plan-pricing span {
  font-weight: 500;
  font-size: var(--size-50);
}

.price-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  padding: 0px 0px 14px;
}

.price-container span {
  font-size: var(--size-20);
  color: var(--font-light);
  font-weight: 500;
}

.plan-break {
  background-color: #8d8d8d;
  height: 1px;
  padding: 1px;
}

.plan-head-text {
  font-weight: 500;
  font-size: 16px;
  color: var(--font-light);
}

.plan-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.plan-foot span {
  font-size: var(--size-12);
  color: var(--font-light);
}

.plan-assets {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
}
